<p>papers-to-review works!</p>
<div class="mat-elevation-z3" fxLayout="row" fxHide.sm fxHide.xs fxLayoutAlign="center bottom">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">


    <label>Basic:</label>
    <mat-checkbox type="checkBox" formControlName="basic"></mat-checkbox>

    <mat-form-field appearance="outline">
      <mat-label>Text</mat-label>
      <input matInput type="text" formControlName="text" id="search-text">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Version</mat-label>
      <input matInput type="text" formControlName="version" id="search-version">
    </mat-form-field>


    <mat-form-field appearance="outline">
      <mat-label>Paper status</mat-label>
      <mat-select formControlName="status">
        <mat-option *ngFor="let status of paperStatus" [value]="status">
          {{status}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Paper category</mat-label>
      <mat-select formControlName="category">
        <mat-option *ngFor="let category of paperCategory" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput formControlName="revised" [matDatepicker]="pickRevised" placeholder="Paper revised" id="search-revised">
      <mat-datepicker-toggle *ngIf="!searchForm.get('revised').value; else clearRevised" matSuffix [for]="pickRevised"></mat-datepicker-toggle>
      <mat-datepicker #pickRevised></mat-datepicker>
      <ng-template #clearRevised>
        <button mat-icon-button matSuffix (click)="searchForm.patchValue({revised: null})">
          <mat-icon>clear</mat-icon>
        </button>
      </ng-template>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput formControlName="received" [matDatepicker]="pickReceived" placeholder="Paper received" id="search-received">
      <mat-datepicker-toggle *ngIf="!searchForm.get('received').value; else clearReceived" matSuffix [for]="pickReceived"></mat-datepicker-toggle>
      <mat-datepicker #pickReceived></mat-datepicker>
      <ng-template #clearReceived>
        <button mat-icon-button matSuffix (click)="searchForm.patchValue({received: null})">
          <mat-icon>clear</mat-icon>
        </button>
      </ng-template>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <input matInput formControlName="accepted" [matDatepicker]="pickAccepted" placeholder="Paper accepted" id="search-accepted">
      <mat-datepicker-toggle *ngIf="!searchForm.get('accepted').value; else clearAccepted" matSuffix [for]="pickAccepted"></mat-datepicker-toggle>
      <mat-datepicker #pickAccepted></mat-datepicker>
      <ng-template #clearAccepted>
        <button mat-icon-button matSuffix (click)="searchForm.patchValue({accepted: null})">
          <mat-icon>clear</mat-icon>
        </button>
      </ng-template>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Keywords</mat-label>
      <input matInput type="text" formControlName="keywords" id="search-keywords">
    </mat-form-field>

    <button mat-button color="primary" type="submit">
      <mat-icon>search</mat-icon>
      <span>Search</span>
    </button>


  </form>

</div>

<div class="mat-elevation-z3" fxLayout="row" fxHide.sm fxHide.xs fxLayoutAlign="center bottom">
  <form [formGroup]="downloadForm" (ngSubmit)="onSubmitDownload()">

    <mat-form-field appearance="outline">
      <mat-label>Paper ID</mat-label>
      <mat-select formControlName="id">
        <mat-option *ngFor="let paper of papers" [value]="paper.id">
          {{paper.title}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Paper type</mat-label>
      <mat-select formControlName="paperType">
        <mat-option *ngFor="let type of paperTypes" [value]="type">
          {{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-button color="primary" type="submit">
      <mat-icon>download</mat-icon>
      <span>Download</span>
    </button>

  </form>
</div>


<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="mat-card-flat card-deck-container" id="loaded-events-list" style="height: 680px;">
    <mat-card-header>
      <p style="font-weight: bolder;">Papers</p>
      <span fxFlex></span>
      <p style="margin-right: 70px; font-weight: lighter" id="number-of-results">Results found: {{papers.length}}</p>
    </mat-card-header>

    <div fxLayout="row wrap" class="card-deck-container" fxLayout.xs="column wrap">
      <div fxFlex="24" fxFlex.sm="30" fxFlex.xs="80" class="card-item" *ngFor="let paper of papers">
        <app-paper-section [paper]="paper"></app-paper-section>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="view(paper.id)">VIEW</button>
          <button mat-raised-button color="primary" (click)="viewLetter(paper.id)">COVER LETTER</button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>

</div>

<div style="margin-top: 50px;" [innerHTML]="theHtmlString"></div>
