<div fxlayoutalign="center center"><button mat-raised-button color="accent">PUBLISH</button></div>
<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="mat-card-flat card-deck-container" style="height: 680px;">
    <mat-card-header>
      <p style="font-weight: bolder;">My papers</p>
      <span fxFlex></span>
      <p style="margin-right: 70px; font-weight: lighter" id="number-of-results">Results found: {{papers.length}}</p>
    </mat-card-header>

    <div fxLayout="row wrap" class="card-deck-container" fxLayout.xs="column wrap">
      <div fxFlex="24" fxFlex.sm="30" fxFlex.xs="80" class="card-item" *ngFor="let paper of papers">
        <app-paper-section [paper]="paper"></app-paper-section>
        <mat-card-actions>
          <button mat-raised-button color="primary" [routerLink]="['/edit-paper', paper.id]">EDIT</button>
          <button mat-raised-button color="primary" [routerLink]="['/edit-cover-letter', paper.id]">LETTER</button>
          <button mat-raised-button color="warn" (click)="cancel(paper.id)">CANCEL</button>
        </mat-card-actions>
      </div>
    </div>
  </mat-card>

</div>
