<p>header works!</p>
<mat-toolbar color="primary" class="mat-elevation-z4">
  <button mat-button color="accent" routerLink="/login">
    <mat-icon>event_seat</mat-icon>
    <span class="mat-title" style="font-weight: 200;">XML</span>
  </button>
  <span class="spacer"></span>

  <div *ngIf="!isAuthenticated">
    <button mat-button routerLink="/login">Login</button>
    <button mat-button routerLink="/signup">Sign up</button>
  </div>


  <div *ngIf="isAuthenticated">
    <button mat-button routerLink="/my-papers">My Papers</button>
    <button mat-button routerLink="/all-papers">All Papers</button>
    <button mat-button routerLink="/my-reviews">My Reviews</button>
    <button mat-button routerLink="/papers-to-review">Papers To Review</button>
    <button mat-button routerLink="/all-reviews">Reviews In Progress</button>
    <button mat-button (click)="onLogout()">Logout</button>
  </div>
</mat-toolbar>
